[Unit]
Description=xorg clipboard syncrhonizer

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/xcsyncd
Restart=always

[Install]
WantedBy=basic.target
